@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
.gradient-text {
  background: linear-gradient(to right, #22c55e, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-primary {
  background: linear-gradient(to right, #22c55e, #06b6d4);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: box-shadow 0.3s;
}

.btn-primary:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

/* Typing text animation */

.typing-text {
  font-size: 20px;
  font-weight: 600;
  font-family: monospace;

  white-space: nowrap;
  overflow: hidden;

  border-right: 3px solid rgb(21, 218, 24);

  width: 0;

  animation: typing 6s steps(35, end) infinite, blink 1s step-end infinite;
}

/* typing + reset */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 35ch;
  }
  100% {
    width: 0;
  }
}

/* cursor blink */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
